body {
    background-color: #333333;
}

header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
}

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

ul.topnav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  color: #f1f1f1;
}

div.flex-container > div {
  margin: 10px;
}

div.bilder img{
  max-width: 20vw;
  max-height: 30vw;
}

div.bilder{
  color: #f1f1f1;
}
